<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>vue-boolzapp</title>
</head>

<body>
    <div id="app">
        <div class="background position-relative">
            <div class="bg_top"></div>
            <div class="bg_bot"></div>

            <!--start app-->

            <div class="apps d-flex">
                <div class="sx ">
                    <!--Nav bar-->
                    <div class="nav_sx d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <img src="./assets/img/avatar_io.jpg" alt="">
                            <span>Sofia</span>
                        </div>
                        <div class="d-flex align-items-center gap-3 mx-3">
                            <i class="fa-sharp fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                    <div class="section_sx_contact">

                        <!--notifiche-->
                        <div class="notifiche d-flex align-items-center gap-3">
                            <div class="mx-2 icon_notifica d-flex justify-content-center">
                                <i class="fa-solid fa-bell-slash fa-2x"></i>
                            </div>
                            <div>
                                <div>Ricevi notifiche di nuovi messaggi</div>
                                <a href="">Attiva notifiche desktop</a>
                            </div>
                        </div>

                        <!--search-->
                        <div class="search d-flex py-2">
                            <button>
                                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                            </button>
                            <input type="text">
                        </div>

                        <!--contatti-->
                        <div class="contatti">
                            <div class="contact d-flex justify-content-between py-3" v-for="(contatto, i) in contacts" @click="setActiveIndex(i)" v-bind:class="this.activeChat == i ? 'bg-secondary' : '' " >
                                <div class="d-flex align-items-center">
                                    <img :src="`./assets/img/avatar${contatto.avatar}.jpg`" alt="">
                                    <div>
                                        <div>{{contatto.name}}</div>
                                        <div>Ultimo messaggio inviato</div>
                                    </div>
                                </div>
                                <div class="mx-2">
                                    <div>12:00</div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <!--APP dx-->
                <div class="dx">
                    <div class="nav_dx d-flex justify-content-between">
                        <div class="d-flex align-items-center ">
                            <img :src="`./assets/img/avatar${contacts[activeChat].avatar}.jpg`" alt="">
                            <div>
                                <div>{{contacts[activeChat].name}}</div>
                                <div>ultimo acesso oggi alle 12:00</div>
                            </div>
                        </div>

                        <div class="d-flex align-items-center gap-3 mx-3">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>


                    <!--chat-->
                    <div class="chat">
                        <div class="container">
                            <div class="container ">
                                <div class="row d-flex mx-5 pt-5" v-bind:class="messaggio.status === 'sent' ? 'flex-row-reverse' : ''  " v-for="(messaggio,i) in contacts[activeChat].messages" > 
                                    <div class="col-3">
                                        <div class="my_message rounded p-2" v-bind:id="messaggio.status === 'sent' ? '' : 'message'">
                                            {{messaggio.message}}
                                            
                                            <div class="text-end">
                                                12:00
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--chat bar-->
                    <div class="chat_bar d-flex justify-content-around align-items-center">
                        <div>
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <div class="text_area">
                            <input type="text" v-model="mioMessaggio" @keyup.enter="addNewMessage()">
                        </div>
                        <div>
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>