:root {
    --bg_top: #009688;
    --bg_notifiche: #8EDAFC;
    --bg_notifica: #D5F9BA;
    --bg_bot: #D9DBD5;
    --bg_nav: #E9EBEB;
    --bg_text: #EAEAEA;
}

.bg_top {
    background-color: var(--bg_top);
    height: 10vh;
}

.bg_bot {
    background-color: var(--bg_bot);
    height: 90vh;
}

.notifiche {
    background-color: var(--bg_notifiche);
}

.section_sx_contact {
    background-color: white;
    border: 1px solid black;
    height: 700px;
}

.chat {
    background-image: url(../img/mine.jpg);
    height: 650px;
    overflow-y: scroll;
}

.chat_bar {
    height: 50px;
    background-color: var(--bg_text);
}

/* bg color */

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav_sx {
    width: 400px;
    background-color: var(--bg_nav);
    border: 1px solid black;
}

.nav_dx {
    width: 1000px;
    background-color: var(--bg_nav);
    border: 1px solid black;
}

.apps {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.search input {
    width: 100%;
}

.text_area input {
    width: 800px;
}

/*contatti*/

.contatti {
    overflow-y: scroll;
    height: 620px;
}

/*messaggi*/

.message {
    background-color: var(--bg_notifica);
    display: inline-block;
    border-radius: 10px;
    width: 300px;
}

.my_message {
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    width: 300px;
}

.time {
    font-size: 10px;
}